//  colors variables
$dark:#000;
$light:#fff;
$brand-color: #40d3ad;
//  /colors variables
//  font variables
$primary-font: 'Roboto',
sans-serif;
//  /font variables
//  media queries variables
$tablet-width: 640px;
$desktop-small-width: 1024px;
$desktop-medium-width: 1280px;
$desktop-large-width: 1920px;
$desktop-wide-width: 2550px;
//  /media queries variables